@using JatraApplication.Controllers;
@using JatraApplication.Models.Calendar
@model CalendarData

@{
    ViewData["Title"] = "Home Page";
    CalendarData calendarInfo = ViewBag.calendarInfo;
    var weekDays = Html.GetEnumSelectList(typeof(WeekDays));
    int currMonth = (int)ViewBag.currMonth;
}

<link href="~/css/calendar.css" rel="stylesheet" />

<div class="text-center">
    <h1 class="display-4">Calendar</h1>


    <div class="row">
        <div class="col-2">
            <button type="button" class="btn btn-success" onclick="changeMonth(@(currMonth-1))">
                ←Previous
            </button>
        </div>
        <div class="col"><b>@calendarInfo.metadata.np</b></div>
        <div class="col-2">
            <button type="button" class="btn btn-success" onclick="changeMonth(@(currMonth+1))">
                Next→
            </button>
        </div>
    </div>
    <div class="calendar">
        <ul class="weeks">
            @foreach (var w in weekDays)
            {
                <li class="component-b">@w.Text</li>
            }
        </ul>
        <ul class="days  ">
            @foreach (var w in calendarInfo.days)
            {
                <li class=" ">@w.n</li>
            }

        </ul>
    </div>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/js/calendar.js"></script>

