@using JatraApplication.Controllers;
@using JatraApplication.Models.Calendar
@model CalendarData

@{
    ViewData["Title"] = "Home Page";
    CalendarData calendarInfo = ViewBag.calendarInfo;
    var weekDays = Html.GetEnumSelectList(typeof(WeekDays));
    int currMonth = (int)ViewBag.currMonth;
}

<link href="~/css/calendar.css" rel="stylesheet" />

<body>
    <div class="row">

        @{
            Html.RenderPartial("~/Views/Common/_SideBar.cshtml");
        }
        <div class="col-9 pt-2 mt-2 border">
            <div class="container-fluid text-center" >
                <div class="row justify-content-center">
                    <div class="col-4 btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary" onclick="changeMonth(@(currMonth-1))">&#8592;</button>
                        <button type="button" class="btn btn-secondary">@calendarInfo.metadata.np @calendarInfo.metadata.en</button>
                        <button type="button" class="btn btn-secondary" onclick="changeMonth(@(currMonth+1))">&#8594;</button>
                    </div>

                </div>
                <div class="calendar" id="calendar">
                    <ul class="weeks">
                        @foreach (var w in weekDays)
                        {
                            <li class="component-b  text-white">@w.Text</li>
                        }
                    </ul>
                    <ul class="days" id="calendardays">
                        @foreach (var w in calendarInfo.days)
                        {
                            <li class=" text-white" data-eventId="@w.eventid" id="ev-@w.eventid">@w.n <small>@w.e</small> </li>
                            @*<li class=" ">@w.e</li>*@
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>



    @section scripts{

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="~/js/calendar.js"></script>
        @*<script src="~/js/common/test.js"></script>*@
        <script src="~/js/pagescripts/home/EventsData.js"></script>



        <script type="text/javascript">
            $(document).ready(function () {
                //var s = new Data();
                ////s.test = '@Url.Action("SignUp", "DestinDIY")';
                //s.test = 'Test';

                var ed = new EventsDetail();
                ed.getEventDetailUrl = '@Url.Action("GetEventDetails","Event")';
                ed.init();

            });
        </script>
    }


</body>
